/* CONTAINER CENTRALIZADOR */
.cart-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 120px;
    position: relative;
}

/* ITEM DO CARRINHO */
.cart-item {
    background-color: rgb(8, 8, 8); 
    border-radius: 12px;

    border: 1px solid rgba(132, 0, 255, 0.35);
    box-shadow:
        0 0 4px rgba(132, 0, 255, 0.25),
        0 0 10px rgba(132, 0, 255, 0.18);

    padding: 15px;
    margin-bottom: 15px;

    display: flex;
    align-items: center;

    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.cart-item:hover {
    transform: translateY(-3px);
    box-shadow:
        0 0 6px rgba(132, 0, 255, 0.35),
        0 0 14px rgba(132, 0, 255, 0.25);
}

/* PRODUTO (imagem + nome) */
.item-product {
    display: flex;
    align-items: center;
    gap: 15px;

    flex: 1;              /* Essa coluna cresce o quanto precisar */
    min-width: 300px;
}

.item-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;

    border: 1px solid rgba(132, 0, 255, 0.35);
    box-shadow:
        0 0 4px rgba(132, 0, 255, 0.25),
        0 0 10px rgba(132, 0, 255, 0.18);
}

.item-title {
    font-size: 1rem;
    font-weight: bold;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 260px; /* impede quebra descontrolada */
}

/* PREÇO */
.item-price {
    width: 140px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

/* QUANTIDADE */
.item-qty {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* SUBTOTAL */
.item-subtotal {
    width: 140px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

/* AÇÕES */
.item-actions {
    width: 60px;
    display: flex;
    justify-content: center;
}

/* BOTÃO REMOVER */
.remove-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    color: rgb(250, 28, 28);
}

.remove-btn:hover {
    opacity: 0.7;
    color: rgb(255, 15, 15);
}

/* BOTÕES + e - */
.qty-btn {
    width: 28px;
    height: 28px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background: #2a2a2a;
    color: white;
    transition: .2s;
}

.qty-btn:hover {
    background: #8a2be2;
}

.qty-number {
    font-size: 18px;
    font-weight: bold;
    color: white;
    width: 24px;
    text-align: center;
}

/* FOOTER DO CARRINHO */
.cart-summary {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 1000px;

    background-color: rgb(8, 8, 8); 
    padding: 20px;
    border-radius: 15px 15px 0 0;
    border-top: 2px solid #444;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    z-index: 99;
}

.summary-total {
    font-size: 1.2rem;
    font-weight: bold;
}

.total-value {
    color: var(--color-primary);
}

/* BOTÃO FINALIZAR */
.btn-finalizar {
    padding: 12px 22px;
    font-size: 1.2rem;
    background-color: rgb(8, 8, 8); 
    border: 1px solid rgba(132, 0, 255, 0.45);
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.25s ease;

    box-shadow:
        0 0 6px rgba(132, 0, 255, 0.28),
        0 0 12px rgba(132, 0, 255, 0.18);
}

.btn-finalizar:hover {
    background-color: #7a00ff;
    transform: translateY(-2px);

    box-shadow:
        0 0 10px rgba(132, 0, 255, 0.45),
        0 0 20px rgba(132, 0, 255, 0.30);
}
